body {
}

.background {
    background-color: #FFF6EA;
}

.navbar {
    background-color: #BE8C63 !important;
}


.buttonColor {
    background-color: #814906 !important;
    border: #814906 !important;
}

.form-control {
    background-color: #FFF6EA;
}

.restaurantCard {
    background-color: #F9F1F0;
}

.enterEffect {
    white-space: pre-line;
}

.semiNavbar {
    position: fixed;
    right: 50px;
    bottom: 100px;
    z-index: 300;
    font-size:25px;
    padding:10px;
}

.ResBtn {
    text-decoration: none;
    color: #BE8C63 !important;
}




.ResBtn:hover {
    text-decoration: none;
     color: #732514 !important;
}

.btn-primary {
    text-decoration: none;
    background-color: #BE8C63 !important;
}

    .btn-primary:hover {
        text-decoration: none;
        background-color: #967E76 !important;
    }


.btn-light {
    background-color: #B7C4CF !important;
    border: #B7C4CF !important;
    color:white;
}

    .btn-light:hover {
        background-color: #5F6F94 !important;
        border: #5F6F94 !important;
        color: white;
    }