body {
}

.background {
    background-color: #FFF6EA;
}

.navbar {
    background-color: #BE8C63 !important;
}


.buttonColor {
    background-color: #814906 !important;
    border: #814906 !important;
}

.form-control {
    background-color: #FFF6EA;
}

.restaurantCard {
    background-color: #F9F1F0;
}

.enterEffect {
    white-space: pre-line;
}

.semiNavbar {
    position: fixed;
    right: 30px;
    top: 60px;
    z-index: 300;
    font-size:25px;
    padding:10px;
}

.ResBtn {
    text-decoration: none;
    color: #BE8C63 !important;
}




.ResBtn:hover {
    text-decoration: none;
     color: #732514 !important;
}