body {
}

.background {
    background-color: #FFF6EA;
}

.navbar {
    background-color: #BE8C63 !important;
}


.buttonColor {
    background-color: #814906 !important;
    border: #814906 !important;
}

.form-control {
    background-color: #FFF6EA;
}
